@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
* {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: sans-serif;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.clear{
  clear: both;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify{
  text-align: justify !important;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.mx-auto {
  margin: auto 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}
.container {
  padding: 0 50px !important;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav {
  margin: 0;
  background: #ECEFF1;
  padding: 0;
  border-top: 3px solid #e67e22;
  border-bottom: 1px solid #ECEFF1;
  clear: both;
}

.nav-menu .nav-menu-item {
  display: inline-block;
  margin: 0;
}

.nav-menu .nav-menu-item a {
  padding: 5px 15px;
}

.nav-menu .nav-menu-item a > .button {
  background: #dfe6e9;
}

.content {
  min-height: 80vh;
}

.brand {
  padding: 10px;
  margin: auto 0;
  width: 20%;
  text-align: left;
}
.brand .logo-text {
  font-weight: bold;
  color: #000;
}

.brand .logo-text span{
  font-weight: bolder;
  font-size: 20px;
  color: #e67e22;
}

.banner {
  padding: 20px 0;
  background: #3498db;
  color: #fff;
}

.band{
  background: #2980b9;
  padding: 5px 0;
  color: #fff;
}


.form-field{
  display: block;
  margin: 5px 0;
}

.form-field .input-span{
  display: flex;
}

.form-field .input-span input{
  width: 80%;
  display: inline-block;
  padding: 15px;
  border: none;
}

.form-field .input-span label {
  background: #bdc3c7;
  color: #34495e;
  padding: 13px;
  font-size: 12px !important;
  width: 20% !important;
}

.column-one {
  flex: 1;
}
.column-two {
  flex: 2;
}
.column-three {
  flex: 3;
}
}
.column-four {
  flex: 4;
}

.button {
  padding: 8px 15px;
  border: 1px solid #95a5a6;
  border-radius: 4px;
  background: #ecf0f1;
  color: #7f8c8d;
  cursor: pointer;
}

.button.sign-up {
  background: transparent ;
  color: #fff;
  padding: 8px 25px;
  text-transform: capitalize;
  border-radius: 0px;
  border: 1px solid #fff;
}
.button.google, .button.facebook {
  width: 99% !important;
  padding: 7px;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.button.google {
  background: #fff;
  border: 1px solid #EEEEEE;
  color: #000;
}

.button.facebook {
  background: #3A539B;
  border: 1px solid #3A539B;
  color: #fff;
}

.button.button-blue{
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  font-weight: bold;
  font-size: 12px;
}

.signin-card {
  padding: 20px;
  margin: auto;
  width: 30%;
  border: 1px solid #EEEEEE;
}

.signin-card label {
  font-weight: bold;
  display: block;
  font-size: 14px;
}

.signin-card input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #EEEEEE;
  border-radius: 0;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.footer {
  margin-top: 10px;
  background: #ecf0f1;
  color: #2c3e50;
  padding: 20px 5px;
  position:absolute;
  bottom:0;
  width: 100%;
}

.footer .author {
  font-weight: bolder;
  font-size: 12px;
  color: #7f8c8d;
}
