@import url('https://fonts.googleapis.com/css?family=Didact+Gothic');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: sans-serif;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.clear{
  clear: both;
}

.text-right {
  text-align: right!important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-justify{
  text-align: justify !important;
}

.margin-top {
  margin-top: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.my-auto {
  margin: auto 0 !important;
}

.mx-auto {
  margin: 0 auto !important;
}
.container {
  padding: 0 5% !important;
}

.flex-container{
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
}

.nav {
  margin: 0 auto;
  background: #ECEFF1;
  padding: 5px 0;
  border-top: 3px solid #e67e22;
  border-bottom: 1px solid #ECEFF1;
  clear: both;
}

.nav-menu .nav-menu-item {
  display: inline-block;
  margin: 12px 0;
}

.nav-menu .nav-menu-item a {
  padding: 5px 15px;
}

.content {
  min-height: 80vh;
}

.side-bar .list-item{
  padding: 8px;
  width: 100%;
  background: #ecf0f1;
  display:block;
  color: #303952;
  border-bottom: 1px solid #fff;
}

.side-bar .list-item:hover{
  background: #bdc3c7;
  color: #2c3e50;
  font-weight: bold;
}

.item {
  border-bottom: 1px solid #bdc3c7;
  clear: both;
  padding: 10px 5px;
}

.item h4 {
  font-weight: normal;
  font-size: 18px;
  padding: 50x 0;
}
.item h4 a {
  color: #546de5;
}
.brand {
  padding: 10px;
  margin: auto 0;
  flex: initial;
}
.brand .logo-text {
  font-weight: bold;
  text-align: left;
  color: #000;
  width: 100%;
}

.brand .logo-text span{
  font-weight: bolder;
  font-size: 20px;
  color: #e67e22;
}

.banner {
  padding: 20px 0;
  background: #3498db;
  color: #fff;
}

.band{
  background: #2980b9;
  padding: 20px 0;
  color: #fff;
}

.profile-flex-container {
  display: flex;
  justify-content: space-around;
  align-content: space-between;
  flex-wrap: wrap;
  list
}

.column-left, .column-right {
  flex: initial;
  width: 300px;
  padding: 10px;
}

.column-center {
  flex: 1;
  flex-grow: 1;
  padding: 10px;
}
.column-middle {
  flex: 1;
}

.column-end {
  flex: initial;
  text-align: right;
}
.full-column {
  text-align: right;
}
.search {
  width: 100%;
  display: block;
  padding: 10px 15px;
  margin-top: 12px;
  color: #718093;
  border: 1px solid #2980b9;
}
.button-search{
  width: auto;
  padding: 10px 15px;
  margin-top: 12px;
  color: #fff;
  background: #2980b9;
  border: 1px solid #2980b9;
}
.form-field{
  display: block;
  margin: 5px 0;
}

.form-field .input-span{
  display: flex;
}

.form-field .input-span input{
  width: 80%;
  display: inline-block;
  padding: 15px;
  border: none;
}

.form-field .input-span label {
  background: #bdc3c7;
  color: #34495e;
  padding: 13px;
  font-size: 12px !important;
  width: 20% !important;
}

.form-field label {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

.form-field input, .form-field textarea {
  display: block;
  padding: 10px;
  color: #57606f;
  border: 1px solid #dfe4ea;
  background: #f1f2f6;
  width: 100%;
}

.form-button{
  margin: 20px 0;
}

.column-one {
  flex: 1;
}
.column-two {
  flex: 2;
}
.column-three {
  flex: 3;
}
}
.column-four {
  flex: 4;
}

.button {
  padding: 8px 15px;
  border: 1px solid #95a5a6;
  border-radius: 4px;
  background: #ecf0f1;
  color: #7f8c8d;
  cursor: pointer;
  display: inline-block;
  clear: both;
}

.button.sign-up {
  background: transparent ;
  color: #fff;
  padding: 8px 25px;
  text-transform: capitalize;
  border-radius: 0px;
  border: 1px solid #fff;
}
.button.google, .button.facebook {
  width: 99% !important;
  padding: 7px;
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
  text-align: center;
  font-weight: bold;
}

.button.google {
  background: #fff;
  border: 1px solid #EEEEEE;
  color: #000;
}

.button.facebook {
  background: #3A539B;
  border: 1px solid #3A539B;
  color: #fff;
}

.button.button-blue{
  background: #3498db;
  color: #fff;
  border: 1px solid #3498db;
  font-weight: bold;
  font-size: 12px;
}

.signin-card {
  padding: 20px;
  margin: auto;
  width: 30%;
  border: 1px solid #EEEEEE;
}

.signin-card label {
  font-weight: bold;
  display: block;
  font-size: 14px;
}

.signin-card input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #EEEEEE;
  border-radius: 0;
}

.card-title {
  text-align: center;
  font-weight: bold;
}

.tag {
  border: 1px solid #EEEEEE;
  padding: 2px !important;
  border-radius: 4px;
  margin: 4px 4px 4px 0;
  font-size: 10px;
  color: #2980b9;
  clear: both;
  font-weight: normal;
}

.tag-green {
  background: #44bd32;
  color: #fff !important;
  border: none;
}

.question-body{
  margin: 10px 0;
}
.answers {
  margin-top: 20px;
}

.answers .header {
  font-weight: bold;
  border-bottom: 1px solid #57606f;
}
.footer {
  margin-top: 10px;
  background: #ecf0f1;
  color: #2c3e50;
  padding: 20px 5px;
  width: 100%;
}

.footer .author {
  font-weight: bolder;
  font-size: 12px;
  color: #7f8c8d;
}
